.banner {
    display: grid;
    gap: 1rem;
}

.banner img:nth-child(1) {
    grid-column: 1/3;
}

.banner img:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/4;
}


.events__item {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto repeat(2, 1fr) auto;
    grid-template-areas: 
        "image image"
        "name name"
        "data data"
        "local button";
}

.events__item img {
    grid-area: image;
}

.events__item h3 {
    grid-area: name;
    align-self: center;
}

.events__item h4 {
    grid-area: data;
}

.events__item h5 {
    grid-area: local;
    align-self: end;
}

.events__item button {
    grid-area: button;
}

.agenda__item {
    display: grid;
}

.agenda__item img {
    grid-column: 1/3;
}

.agenda__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 720px) {

    .banner {
        grid-template-columns: calc(50% -0.75rem)auto auto;
        column-gap:1.5rem ;
    }

    .banner img:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/3;
    }
    
    .banner img:nth-child(4) {
        grid-column: 3/4;
        grid-row: 1/3;
    }
}

@media screen and (min-width: 1440px) {
    .categories {
        display: grid;
        grid-template-areas:
                "titulo titulo"
                "lista destaque"
                "lista imagem";
        column-gap: 1.5rem;
        row-gap: 1rem;
        grid-template-columns: calc(50% - 0.75rem);
    }

    .categories__title {
        grid-area: titulo;
    }
    
    .categories__list {
        grid-area: lista;
     }
    
    .categories__highlight {
        grid-area: destaque;
    }
    
    .categories__image {
        grid-area: imagem;
    }
    
}