* {
    box-sizing: border-box;
}

:root {
    /* Colors: */
    --yello: #FFC756;
    --orange: #F66139;
    --purple: #7F8FFE;
    --green: #56B78C;
    --light-gray: #D9D9D9;
    --dark-gray: #959595;

    /* Fonts: */

    --main-font: 'Work Sans', sans-serif;
    --second-font: 'Fjalla One', sans-serif;
}

body {
    font-family: var(--main-font);
    height: 100vh;
}

/* Stlyes shared: */

.categories__title,
.highlights,
.events__title,
.agenda__title {
    font-size: 20px;
    text-transform: uppercase;
    font-family: var(--fonte-secundaria);
}